$oswald: Oswald, sans-serif;
$lato: Lato, sans-serif;

@media (max-width: 375px){

body {
  background-image: url('https://github.com/supahkenneh/rebirth-of-reddit/blob/master/assets/bg.jpg?raw=true');
}

#main-header {
  font-family: $oswald;
  font-size: 30px;
  // // display: flex;
  // // justify-content: center;
  // // flex-direction: column;
  // // text-align: center;
  background-color: white;
  position: fixed;
  overflow: auto;
  height: 60px;
  width: 375px;
  margin-left: -15px;
  padding-left: 10px;
  margin-top: -10px;
}

.subreddits {
  height: 44px;
  width: 375px;
  font-family: $oswald;
  position: fixed;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #383838;
  color: #989898;
  margin-left: -7px;
  margin-top: 50px;
}

.subreddit-class {
  padding: 10px;
}

#subreddit-two, #subreddit-three{
  border: 1px solid gray;
}

#filler {
  height: 100px;
}

#body_div {
  padding: 100px;
}


.posts {
  border: solid 0.5px;
  height: 362px;
  width: 340px;
  margin: 9px; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 8px;
  // border: 5px solid white;
  align-content: center;
  background-color: white;
  margin-left: 0px;
}

.picture {
  height: 200px;
  width: 350px;
  background-size: 350px 250px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  padding: 10px;
}

.title {
  font-family: $oswald;
  font-size: 16px;
  height: 40px;
  width: 340px;
  padding: -5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.stats {
  font-family: $lato;
  font-size: 12px;
  height: 10px;
  width: 340px;
  margin: 0px;
  padding: 5px;
}

.text-body {
  font-family: $lato;
  border: 1px solid;
  height: 50px;
  width: 340px;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


}



