$oswald: Oswald, sans-serif;
$lato: Lato, sans-serif;

@media (max-width: 375px){

#main-header {
  font-family: $oswald;
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.subreddits {
  font-family: $oswald;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.subreddit-class {
  padding: 20px;
}

.posts {
  border: solid 0.5px;
  height: 362px;
  width: 340px;
  margin: 9px; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  align-content: center;
}

.picture {
  border: 1px solid;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $oswald;
  font-size: 30px;
}

.title {
  font-family: $oswald;
  font-size: 16px;
}

.stats {
  font-family: $lato;
  font-size: 12px;
}

.text-body {
  font-family: $lato;
  font-size: 14px;
}


}



